<div>
    <h1 class="header-text">
        Curtain Adjustment screen
      </h1>    
    <h2 class="font-weight-bold header-text">Living curtain status </h2>
    <div class="flex-row">
        <div class="chip">
            <img src="../../assets/blinds.webp" alt="Person" width="96" height="96">Current open status : 15%</div>
        <label class="switch"><input type="checkbox" checked><span class="slider round"></span>
        </label>
    </div>
    <div class="container">
        <div class="flex-row">
            <img src="./assets/button-circle-add.webp" alt="add" width="35" height="35">
            <img src="./assets/button-circle-remove.webp" alt="reduce" width="35" height="35">
        </div>
    </div>
    <div id="slider"></div>
</div>