.welcome-div {
    background-image: url(../../assets/home_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.common-div {
    background-color: #ffffff;
}